* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  main {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  
  .item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
  }
  
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
      font-family: 'arial-black';
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 0.8rem;
    }
  
    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  .nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;
  
    & .btn {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  
  @media (width > 650px) and (width < 900px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
  }
  
  @media (width < 650px) {
    .content {
      & .title        { font-size: 0.9rem; }
      & .description  { font-size: 0.65rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 130px;
      height: 220px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 140px); }
      &:nth-child(5) { left: calc(50% + 280px); }
      &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
  }
  
  @media screen and (max-width: 1250px) {
    .Team {
        padding-top: var(--padding-54xl);
        padding-bottom: var(--padding-54xl);
        box-sizing: border-box;
      }
    }

    @media screen and (max-width: 750px) {
    .Team {
        gap: var(--gap-21xl);
        padding: var(--padding-28xl) var(--padding-13xl);
        box-sizing: border-box;
      }
      .Team-Content-Title {
        font-size: var(--font-size-19xl);
        line-height: 46px;
      }
      .Team-Selection {
        gap: 48px;
      }
      .Team-Selection1 {
        gap: var(--gap-13xl);
      }

    }
    @media screen and (max-width: 450px) {
    .Team {
        gap: var(--gap-xl);
      }
      .Team-Content-Title {
        font-size: var(--font-size-10xl);
        line-height: 35px;
      }
      .Team-Selection{
        gap: var(--gap-5xl);
      }
      .Team-Selection1 {
        gap: var(--gap-base);
      }
      .Memeber-Name {
      font-size: var(--text-regular-semi-bold-size);
      line-height: 24px;
    }
    }





/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .CTA {
        height: 400px;
    }

    .background-image {
        height: 600px;
    }

    .cta-left {
        padding-right: 100px;
    }

    .cta-left h2 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 900px) {
    .CTA {
        height: 300px;
    }

    .background-image {
        height: 500px;
    }

    .cta-left {
        padding-right: 50px;
    }

    .cta-left h2 {
        font-size: 2em;
    }

    .cta-Right {
        flex-direction: column;
    }

   .cta-box {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
   .CTA {
        height: 200px;
    }

   .background-image {
        height: 400px;
    }

   .cta-left {
        padding-right: 20px;
    }

   .cta-left h2 {
        font-size: 1.5em;
    }

   .cta-box {
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
   .CTA {
        height: 150px;
    }

   .background-image {
        height: 300px;
    }

   .cta-left {
        padding-right: 10px;
    }

   .cta-left h2 {
        font-size: 1.2em;
    }

   .cta-box {
        padding: 10px;
    }
}
/* For devices with a max width of 480px */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 10px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-partition {
        display: none;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        padding: 10px 0;
        text-align: center;
    }

    .cta-left {
        padding-right: 0;
    }

    .cta-left h2 {
        font-size: 1.5em;
    }

    .cta-right {
        flex-direction: column;
    }

    .cta-box {
        padding: 20px;
        margin-bottom: 20px;
    }

    .carousel .slide-track {
        width: calc(100px * 16); /* Adjust based on the number of slides */
    }

    .carousel .slide {
        min-width: 100px;
        margin: 0 5px;
    }

    .carousel .slide img {
        max-width: 75px;
        max-height: 50px;
    }

    .faq-container {
        width: 90%;
    }

    .faq-question {
        font-size: 1em;
    }

    .faq-answer {
        font-size: 0.9em;
    }

    .additional-questions h2 {
        font-size: 30px;
    }

    .additional-questions p {
        font-size: 16px;
    }

    .Add-contact-btn {
        font-size: 0.9em;
    }
}

/* For devices with a max width of 320px */
@media (max-width: 320px) {
    body {
        font-size: 12px;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        margin: 3px 0;
    }

    nav ul li a {
        padding: 8px;
    }

    .footer-container {
        padding: 0 10px;
    }

    .footer-logo img {
        max-width: 100px;
    }

    .footer-column ul li {
        margin-bottom: 5px;
    }

    .footer-column ul li a {
        font-size: 0.9em;
    }

    .cta-left h2 {
        font-size: 1.2em;
    }

    .cta-box {
        padding: 10px;
    }

    .carousel .slide-track {
        width: calc(75px * 16); /* Adjust based on the number of slides */
    }

    .carousel .slide {
        min-width: 75px;
        margin: 0 3px;
    }

    .carousel .slide img {
        max-width: 50px;
        max-height: 30px;
    }

    .faq-question {
        font-size: 0.9em;
    }

    .faq-answer {
        font-size: 0.8em;
    }

    .additional-questions h2 {
        font-size: 25px;
    }

    .additional-questions p {
        font-size: 14px;
    }

    .Add-contact-btn {
        font-size: 0.8em;
    }
}
