/* Nav */
header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    padding: 10px 15px;
    display: block;
    font-weight: 400;
    position: relative;
   
}

nav ul li a::before, nav ul li a::after {
    content: '';
    position: absolute;
    background: rgb(15, 15, 15);
    transition: all 0.4s ease;
}

nav ul li a::before {
    width: 0;
    height: 2px;
    top: 0;
    left: 0;
}

nav ul li a::after {
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
}

nav ul li a:hover::before {
    width: 100%;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a span {
    position: relative;
}

nav ul li a span::before, nav ul li a span::after {
    content: '';
    position: absolute;
    background: rgb(15, 15, 15);
    transition: all 0.4s ease;
}

nav ul li a span::before {
    width: 2px;
    height: 0;
    top: 0;
    left: 0;
}

nav ul li a span::after {
    width: 2px;
    height: 0;
    bottom: 0;
    right: 0;
}

nav ul li a:hover span::before {
    height: 100%;
}

nav ul li a:hover span::after {
    height: 100%;
}

/* Exclude logo from animation */
nav ul li.logo a::before,
nav ul li.logo a::after,
nav ul li.logo a span::before,
nav ul li.logo a span::after {
    content: none;
}

nav ul li.logo img {
    height: 50px;
}

nav ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 200px;
    z-index: 1;
    flex-direction: column;
}

nav ul li.dropdown .dropdown-content a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
}

nav ul li.dropdown:hover .dropdown-content {
    display: flex;
    
}

.hide {
    transform: translateY(-100%);
}

.header {
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity;
    background-color: transparent;
}

.header.hide {
    opacity: 0;
}

.header.scrolled {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 87%;
}

@media screen and (max-width: 1250px) {
    .Team {
        padding-top: var(--padding-54xl);
        padding-bottom: var(--padding-54xl);
        box-sizing: border-box;
      }
    }

    @media screen and (max-width: 750px) {
    .Team {
        gap: var(--gap-21xl);
        padding: var(--padding-28xl) var(--padding-13xl);
        box-sizing: border-box;
      }
      .Team-Content-Title {
        font-size: var(--font-size-19xl);
        line-height: 46px;
      }
      .Team-Selection {
        gap: 48px;
      }
      .Team-Selection1 {
        gap: var(--gap-13xl);
      }

    }
    @media screen and (max-width: 450px) {
    .Team {
        gap: var(--gap-xl);
      }
      .Team-Content-Title {
        font-size: var(--font-size-10xl);
        line-height: 35px;
      }
      .Team-Selection{
        gap: var(--gap-5xl);
      }
      .Team-Selection1 {
        gap: var(--gap-base);
      }
      .Memeber-Name {
      font-size: var(--text-regular-semi-bold-size);
      line-height: 24px;
    }
    }





/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .CTA {
        height: 400px;
    }

    .background-image {
        height: 600px;
    }

    .cta-left {
        padding-right: 100px;
    }

    .cta-left h2 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 900px) {
    .CTA {
        height: 300px;
    }

    .background-image {
        height: 500px;
    }

    .cta-left {
        padding-right: 50px;
    }

    .cta-left h2 {
        font-size: 2em;
    }

    .cta-Right {
        flex-direction: column;
    }

   .cta-box {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
   .CTA {
        height: 200px;
    }

   .background-image {
        height: 400px;
    }

   .cta-left {
        padding-right: 20px;
    }

   .cta-left h2 {
        font-size: 1.5em;
    }

   .cta-box {
        padding: 20px;
    }
}

@media screen and (max-width: 400px) {
   .CTA {
        height: 150px;
    }

   .background-image {
        height: 300px;
    }

   .cta-left {
        padding-right: 10px;
    }

   .cta-left h2 {
        font-size: 1.2em;
    }

   .cta-box {
        padding: 10px;
    }
}
/* For devices with a max width of 480px */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 10px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-partition {
        display: none;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        padding: 10px 0;
        text-align: center;
    }

    .cta-left {
        padding-right: 0;
    }

    .cta-left h2 {
        font-size: 1.5em;
    }

    .cta-right {
        flex-direction: column;
    }

    .cta-box {
        padding: 20px;
        margin-bottom: 20px;
    }

    .carousel .slide-track {
        width: calc(100px * 16); /* Adjust based on the number of slides */
    }

    .carousel .slide {
        min-width: 100px;
        margin: 0 5px;
    }

    .carousel .slide img {
        max-width: 75px;
        max-height: 50px;
    }

    .faq-container {
        width: 90%;
    }

    .faq-question {
        font-size: 1em;
    }

    .faq-answer {
        font-size: 0.9em;
    }

    .additional-questions h2 {
        font-size: 30px;
    }

    .additional-questions p {
        font-size: 16px;
    }

    .Add-contact-btn {
        font-size: 0.9em;
    }
}

/* For devices with a max width of 320px */
@media (max-width: 320px) {
    body {
        font-size: 12px;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        margin: 3px 0;
    }

    nav ul li a {
        padding: 8px;
    }

    .footer-container {
        padding: 0 10px;
    }

    .footer-logo img {
        max-width: 100px;
    }

    .footer-column ul li {
        margin-bottom: 5px;
    }

    .footer-column ul li a {
        font-size: 0.9em;
    }

    .cta-left h2 {
        font-size: 1.2em;
    }

    .cta-box {
        padding: 10px;
    }

    .carousel .slide-track {
        width: calc(75px * 16); /* Adjust based on the number of slides */
    }

    .carousel .slide {
        min-width: 75px;
        margin: 0 3px;
    }

    .carousel .slide img {
        max-width: 50px;
        max-height: 30px;
    }

    .faq-question {
        font-size: 0.9em;
    }

    .faq-answer {
        font-size: 0.8em;
    }

    .additional-questions h2 {
        font-size: 25px;
    }

    .additional-questions p {
        font-size: 14px;
    }

    .Add-contact-btn {
        font-size: 0.8em;
    }
}
